<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Make Software Better" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
  </head>
  <header>
  <nav>
    <ul>      
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/things">Things</a>
      </li>
      <li>
        <a href="/notes">Notes</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
  <h3>
    <b>marcsist</b> lots of <a href="https://read.cv/marcs">experience</a> at design
  </h3>
</header>
  <body>
  <main>
  
    {{ content | safe }}
    
  </main>
   
  </body>
</html>