<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.com/523e47c3-e7b6-4b26-9524-f0c51e82180a%2Fmarcs%20portfolio.png?v=1620473992737" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Marcsist" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LLJT1DPC30"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LLJT1DPC30');
    </script>
  </head>
  <header>
    
  <nav>
    {% set navPages = collections.all | eleventyNavigation %}
<ul>
{%- for entry in navPages %}
  <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
  </li>
{%- endfor %}
</ul>
  </nav>
  <h2>
    <b>marcsist</b><br>
    lots of <a href="https://read.cv/marcs">experience</a> at design
  </h2>
</header>
  <body>
  <main>
  
    {{ content | safe }}
    
  </main>
    {% include 'layouts/blocks/les-original-signup.njk' %}
    
    {% include 'layouts/blocks/footer.njk' %}
  </body>
</html>