---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper post">
  <div>
    <section id="hero">
      <h1 class='postTitle'>{{title}}</h1>
      <h3>{{description}}<br>
        <a href="{{link}}">link-></a>
      </h3>
    </section>
    
    {{ content | safe }}
  </div>
</div>