---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper post">
  <div>
    {%- set eleventyNavigation = { parent: "Things" } -%}
    {% include 'layouts/blocks/breadcrumbs.njk' %}
    <section id="hero">

      <h1 class='postTitle'>{{title}}</h1>
      <p>{{description}}</p>
      {% if externalLink %}
        <h3>
          <a href="{{externalLink}}">link-></a>
        </h3>
      {% endif %}
    </section>
    
    {{ content | safe }}
  </div>
</div>