---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
        <section id="things">
      <ul class="no-bullet">
        {%- for post in collections.things -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>
        <div class="thing no-image">
         <div class="text">
           <h2>{{ post.data.title }}</h2>
           <p class="subtle"> {{ post.data.description }}</p>
          <a href="{{ post.data.link }}"></a>
        </div>
      </div>
      </li> 
  {%- endfor -%}
    </ul>
  </div>
</div>