---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper post">
  <div>
    <section id="hero">
    <h1 class='postTitle'>{{title}}</h1>
    <h3>
      {{description}}<br>
    <a href="{{url}}">Link-></a>
      </h3>
    </section>
    {{ content | safe }}
    <div class="controls">
    {% if prevPost.url %}
      <p>
        <strong>Previous thing</strong>: 
        <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
    {% endif %}
    {% if nextPost.url %}
      <p>
        <strong>Next thing</strong>: 
        <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
    </div>
    {% endif %}
  </div>
</div>