---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
      {% include 'layouts/blocks/things.njk' %}
      <li><a href="/"><-Back Home</a></li>
  </div>
</div>